!<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="" />
    <title><%= title%></title>
    <link rel="stylesheet" />
    <link rel="stylesheet" crossorigin="anonymous" />
    <%- style %>
  </head>
  <body>
    <div id="root">
      <div id="main-body"><%-body%></div>
    </div>
    <%-script%>
  </body>
</html>
